.tabla-alumnos{
    width: 100%;
}

.tabla-alumnos table, th, td {
    /*border: 1px solid black;*/
    font-size: medium;
    color: black;
    padding: 10px;
}

.tabla-alumnos th {
    background-color: #4CAF50;
    color: white;

}

.tabla-alumnos tr:nth-child(even) {
    background-color: #f2f2f2
}

.tabla-alumnos tfoot td{
    background-color: #4CAF50;
    color: white;
}

.fecha{
    text-align: right;
}

/* ******************* MAPA ************************* */

#map {
    height: 100%;
    color: black;
    min-height: 500px;
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

#right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
}
